.h1-main,
.h2-main,
.h3-main,
.h4-main,
.h1-mobile,
.h2-mobile,
.h3-mobile,
.h4-mobile,
.text1-main,
.text2-main,
.text1-mobile,
.text2-mobile {
  font-style: normal;
  color: #333333;
}

.h1-main {
  font-weight: 800;
  font-size: 42px;
  line-height: 51px;
}

.h2-main {
  font-weight: 700;
  font-size: 27px;
  line-height: 33px;
}

.h3-main {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.h4-main {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}

.text1-main {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.text2-main {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.h1-mobile {
  font-weight: 800;
  font-size: 27px;
  line-height: 33px;
}

.h2-mobile {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.h3-mobile {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
}

.h4-mobile {
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
}

.text1-mobile {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.text2-mobile {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}
